*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-space-between{
    justify-content: space-between;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    width: 1100px;
    margin: 0 auto;
}

.plan-container{
    width: 260px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header nav{
    position: fixed;
    top:0; left:0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

button{
    border-style: none;
    font-size: 1rem;
    background-color: #0261F8;
    color: white;
}

header ul>li{
    list-style-type: none;
    padding: 20px;
    line-height: 27px;
}

header div.header-right button.start{
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

section.jumbo{
background-color: #ADCCE2;
height: 790px;
}

section .jumbo-content{
    padding-top: 150px;
    height: 70vh;
}

section div.jumbo-content h1.jumbo-title{
    font-size: 4.7em;
    padding-bottom: 50px;
    font-weight: bolder;
}

section .jumbo-content div.jumbo-description{
    flex-basis: 30%;
}

button.free-trial{
    padding: 15px;
    margin: 25px 0 25px 0;
}

section .jumbo-content div.jumbo-img{
    flex-basis: 70%;
    height: 450px;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

section div.jumbo-text-img span.arrow{
    font-size: 5rem;
}

main section.radio-button header h1.main-title-plans{
    padding-top: 120px;
    padding-bottom: 50px;
    font-size: 2.6rem;
    font-weight: bolder;
}

main div.radio-box{
    display: inline;
    margin-right: 40px;
}

section.plans .professional,
.advanced,
.enterprise{
    width: calc(100% / 3 - 20px);
    height: 1050px;
    border: 1px solid #D1D1D4;
    margin-top: 50px;
}

div.plan{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #D1D1D4 ;
}

main section.plans div.plan-container h2,
h3{
    padding: 30px 0 30px 0;
}

main section.plans div.plan-container p,
h3{
    padding-bottom: 25px;
}

main section.plans div.plan-container p:nth-child(2){
    font-weight: bold;
}

main section.plans div.plan-container p:nth-child(3){
color: grey;}

main section.plans div.plan-container button{
    width: 100%;
    padding: 15px;
    margin: 25px 0 25px 0;
}

main section.plans div.plan-container hr{
    width: 20%;
}

main section.plans i.fa-check{
    color: #005FF8;
}

main section.enterprise-info{
    border: 1px solid #D1D1D4 ;
    margin-top: 50px;
}

main section.enterprise-info div.plan-enterprise{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #D1D1D4;
    
}

main section.enterprise-info div.enterprise-contacts{
    position: relative;
    padding: 40px;
}

main section.enterprise-info div.enterprise-contacts button{
    position: absolute;
    top: 40px;
    right: 50px;
    padding: 15px 40px 15px 40px;
}

main section.partner{
    margin-top: 150px;
}

main section.partner div.partner-img{
    flex-basis: 65%;
    height: 550px;
    background-image: url(../img/partner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main section.partner div.partner-text{
    flex-basis: 36%; 
    text-align: left;
    padding: 20px;
    margin-left: 20px;

}

main section.partner div.partner-text h2{
    margin-bottom: 20px;
}

main section.partner div.partner-text button.find-partner{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 12px;
    margin-top: 30px;
}

h1.cards-title{
    margin-top: 100px;
    margin-bottom: 50px;
}

main section.cards-box div.card{
    margin-bottom: 50px;
}

main section.cards-box div.card{
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main section.cards-box div.card img{
    height: 100%;
    width: 100%;
    background-size: cover;
}

main section.cards-box div.card h2{
    margin-bottom: 20px;
}

div.business-title h1{
    font-size: 2.5rem;
    max-width: 65%;
    margin-top: 150px;
    margin-bottom: 40px;
    font-weight: bolder;
}

section.teams div.squares{
    margin-top: 100px;
    background-color: purple;
}

section.teams div.squares .square{
    width: calc(100vw / 3) ;
    height: calc(100vw / 3);
}

div.squares .square div.pics{
    width: calc(100% / 2);
    height: calc(100% /2) ;
    border: 1px solid green;
}

.square div.pics1 {
    background-image: url(../img/designit.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

}

.square div.pics2 {
    background-image: url(../img/arizona_state_university.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.jumbo-bottom{
    height: 300px;
    background-color:#ADCCE2;
}

section.jumbo-bottom div.jumbo-bottom-content{
    position: relative;
}

div.jumbo-bottom-content button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
}

div.jumbo-bottom-content h2{
    font-size: 2rem;
    color: #570027;
    display: inline;
    padding-bottom: 30px;
}

section.questions div.questions-content h2{
    font-size: 2rem;
    margin-top: 150px;
    padding-bottom: 40px;
}

section.questions div.questions-content p{
    padding:30px 400px 30px 0;
    display: inline-block;
    font-weight: bold;
}

footer{
    height: 400px;
    background-color: black;
    margin-top: 150px;
    color: white;
}

footer div.footer-container{
    height: 100%;
}

footer div.footer-container h2{
    padding-bottom: 20px;
} 

footer ul>li{
    list-style-type: none;
    padding-bottom: 10px;
}