*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* .border{
    border: 1px solid black;
} 
 */

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-container{
    width: 60vw;
    margin: 0 auto;
}

.small-container{
    width: 55vw;
    margin: 0 auto;
}

.plan-container{
    width: 260px;
    height: 400px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header nav{
    position: fixed;
    top:0; left:0;
    width: 100%; 
    background-color: white;
    height: 7vh;
    z-index: 2;
}

button{
    border-style: none;
    font-size: 1rem;
    background-color: #0261F8;
    padding: 10px;
    color: white;
}

header ul>li{
    list-style-type: none;
    padding: 20px;
    line-height: 27px;
}

header div.header-right button.start{
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

section.jumbo{
background-color: #ADCCE2;
height: 75vh;
}

section .jumbo-content{
    height: 60vh;
    margin-top: 100px;
    height: 70vh;
}

section div.jumbo-content div.jumbo-title{
    max-width: 95%;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 20px;
}

section .jumbo-content div.jumbo-description{
    flex-basis: 30%;
}

button.free-trial-button{
    padding: 15px;
    margin: 25px 0 25px 0;
}

section .jumbo-content div.jumbo-img{
    flex-basis: 70%;
    height: 450px;
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

section div.jumbo-text-img span.arrow{
    font-size: 5rem;
}

main.small-container .main-title-plans{
    margin-top: 120px;
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: bolder;
}

main div.radio-box{
    display: inline-block;
    margin-right: 40px;
}

section.plans .professional,
.advanced,
.enterprise{
    width: 330px;
    height: 1000px;
    border: 1px solid #D1D1D4;
    margin-top: 50px;
}

div.plan{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #D1D1D4 ;
}

main section.plans div.plan-container h2,
h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

main section.plans div.plan-container p,
h3{
    margin-bottom: 25px;
}

main section.plans div.plan-container button{
    width: 100%;
}

main section.plans div.plan-container hr{
    width: 20%;
}

main section.plans i.fa-check{
    color: #005FF8;
}

main section.enterprise-info{
    border: 1px solid #D1D1D4 ;
    margin-top: 50px;
}

main section.enterprise-info div.plan-enterprise{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #D1D1D4;
    
}

main section.enterprise-info div.enterprise-contacts{
    position: relative;
    padding: 50px;
}

main section.enterprise-info div.enterprise-contacts button{
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px 40px 10px 40px;
}

main section.partner{
    margin-top: 150px;
}

main section.partner div.partner-img{
    flex-basis: 65%;
    height: 550px;
    background-image: url(../img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;
}

main section.partner div.partner-text{
    flex-basis: 35%; 
    padding: 30px;
}

main section.partner div.partner-text h2{
    margin-bottom: 20px;
}

main section.partner div.partner-text button.find-partner{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 30px;
}

h1.operation{
    margin-top: 100px;
    margin-bottom: 50px;
}

main section.cards-row{
    justify-content: space-between;
    margin-bottom: 30px;
}

main section.cards-row div.card{
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

main section.cards-row div.card img{
    width: 300px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
}

main section.cards-row div.card h2{
    margin-bottom: 20px;
}

div.business-title h1{
    font-size: 2.5rem;
    max-width: 65%;
    margin-top: 150px;
    margin-bottom: 40px;
    font-weight: bolder;
}
